.promo{
    margin-bottom: 65px;
    h1{
        font-size: 48px;
        line-height: 120%;
        font-weight: 800;
        margin-bottom: 28px;
        @media screen and (max-width: 768px) {
            font-size: 36px;
        }
    }
    p{
        margin-bottom: 262px;
        @media screen and (max-width: 1199px) {
            margin-bottom: 285px;
        }
        @media screen and (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
    h1 span{
        color: #FFA239;
    }

    .promo-bg{
        height: 628px;
        background: url('/img/bg.png') center no-repeat;
        background-size: contain;
        @media screen and (max-width: 991px) {
            height: 670px;
        }
        @media screen and (max-width: 768px) {
            background: none;
            height: auto;
        }
        .promo-bg-md{
            display: none;
            width: 100%;
            @media screen and (max-width: 768px) {
                display: block;
                margin-bottom: 20px;
            }
        }
    }
    .promo__list li{
        display: flex;
        align-items: baseline;
        gap: 12px;
        margin-bottom: 8px;
    }
    .promo__list li:last-child{
        margin-bottom: 0;
    }
}

